@import '@/assets/styles';
@import '@/assets/colors';

$DECK-PREVIEW-ROTATE-ANGLE: 25deg;
// $DOTTED-COLOR: hsl(231, 18%, 27%);
$DOTTED-COLOR: hsl(221, 18%, 22%);
$ODD-BG-COLOR: hsl(231, 18%, 25%);
$EVEN-BG-COLOR: $blue;

.landing-page {
  width: 100%;
  color: white;

  background-color: $ODD-BG-COLOR;

  .full-viewport {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: $sm-md-screen;
    height: 100vh;
    border-bottom: 4px solid $blue;

    &:first-child {
      height: calc(100vh - $header-height);
    }

    &:nth-child(even) {
      background-color: $EVEN-BG-COLOR;
    }
  }

  .scroll-down-anchor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-height: $medium-screen), (min-width: $giant-screen) {
      left: unset;
      right: 0;
    }

    .scroll-down-icon {
      fill: white;

      height: 32px;
      width: 32px;

      &:hover {
        @include standard-transition;
        fill: $light-blue;
      }
    }
  }

  .text-right-align {
    text-align: end;
  }

  .text-bold {
    font-weight: bold;
  }

  .text-alternate {
    color: $light-blue;
    font-weight: bold;
    font-size: 28px;
  }

  .text-sm {
    font-size: 16px;
  }

  .text-sm-md {
    font-size: 24px;
  }

  .text-md {
    font-size: 32px;
  }

  .text-md-lg {
    font-size: 48px;
  }

  .text-lg {
    font-size: 96px;
  }

  .text-sm-dynamic {
    font-size: 1.1vw;
  }

  .text-md-dynamic {
    font-size: 2.5vw;
  }

  .text-md-lg-dynamic {
    font-size: min(5vmin, 48px);
  }

  .text-lg-dynamic {
    font-size: min(15vmin, 96px);
  }

  .dotted {
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inline-size: 200vw; // or width
      block-size: 200vw; // or height
      background-image: radial-gradient(circle at 16px 16px, $DOTTED-COLOR 4px, transparent 0);
      background-size: 16px 16px;
      transform: rotate($DECK-PREVIEW-ROTATE-ANGLE);
      z-index: -1;
    }
  }

  /**
   * Page specific fonts begin here.
   */
  .top-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 48px 8%;

    .heading-text {
      position: relative;

      .learn-anything {
        position: absolute;
        margin-top: 2vw;
        right: 8px;
        text-align: right;
      }
    }

    .wave-image {
      animation: pulse-animation 3s ease-in-out infinite alternate;
      width: 100%;
      user-select: none;
    }

    .description {
      padding: 48px 32px 32px;
    }

    .action-button-container {
      padding: 8px 0px;

      .action-button {
        @include hover($light-blue);
        border-radius: 30px;
        padding: 10px 0px;
        width: 240px;
      }
    }
  }

  .showcase-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5vmin;
    padding: 0px 64px;

    position: relative;
    overflow: hidden;

    @media screen and (max-width: $medium-screen) {
      @include flex-center;
      flex-direction: column;
      padding: 0px 32px;
    }

    .showcase-description {
      width: 30vw;

      &.place-left {
        margin-right: auto;
      }

      span {
        display: inline-block;
      }

      @media screen and (max-width: $medium-screen) {
        width: 80vw;
        margin: {
          left: auto;
          right: auto;
        }
      }
    }

    .showcase-deck-preview {
      display: flex;
      gap: 16px;

      position: absolute;
      top: -75px;
      right: 0px;
      transform: rotate($DECK-PREVIEW-ROTATE-ANGLE);
      overflow: hidden;

      // remove constraints on small viewports
      @media screen and (max-width: $large-screen) {
        position: initial;
        transform: none;
        overflow: visible;
      }

      // showcase columns should be hidden on small viewports
      .column {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (max-width: $large-screen) {
          display: none;
        }
      }

      // showcase image should be shown on small viewports
      .showcase-image {
        display: none;

        @media screen and (max-width: $large-screen) {
          display: block;
        }
      }

      // TODO: move to component-showcase and add className to deck-cover
      .deck-cover {
        color: $black;

        .c-front {
          @include glow-box-shadow($spread-radius: -6px);
          border-radius: 16px;
        }
      }
    }

    .showcase-image {
      /* 
       * TODO: actually style this to how one of our showcase images would look 
       *       currently just reusing the dummy echoStudy landing image
      */
      > img {
        @include glow-box-shadow($spread-radius: -3px);
        width: min(55vw, 800px);
        border-radius: 24px;
        user-select: none;

        @media screen and (max-width: $medium-screen) {
          width: min(75vw, $sm-md-screen);
        }
      }
    }
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.975);
  }
  100% {
    transform: scale(1.025);
  }
}
