@import '../../assets/colors';

$height: 10px;

.progress-bar {
  display: flex;
  flex-direction: column;

  label.bar-label {
    font-size: 10px;
    white-space: nowrap;
  }

  .outer-bar {
    background-color: $white;
    border: 1px solid $blue;
    border-radius: $height;
    height: $height;
    width: 100%;

    .inner-bar {
      border: inherit;
      border-radius: inherit;
      height: $height;
      margin-left: -1px;
      min-width: 10px;
      background-color: $blue;
    }
  }

  &.label-on-right {
    flex-direction: row-reverse;

    label.bar-label {
      margin-left: 5px;
    }
  }
}
