@import '../../assets/colors';
@import '../../assets/styles';

$height: 15px;

$blue-gradient: white;
$blue-gradient: linear-gradient(
  90deg,
  #4a57b5,
  #196eca,
  #0084da,
  #0099e4,
  #00ade9,
  #00c0ea,
  #00d3e8,
  #06e4e4
);

.c-progress-bar {
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;

  .c-progress-container {
    margin-top: 3px;
    width: 100%;
    display: flex;
    position: relative;

    .c-bar-outline {
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      top: 2px;
      z-index: -1;

      &.dark {
        background-color: #4c4c57;
      }

      &.light {
        background-color: #a6a6a6;
      }
    }

    .c-progress {
      position: relative;
      height: 8px;
      border-radius: 10px;
      background: $blue-gradient;
    }

    .dark.c-progress::before {
      content: '';
      background: $blue-gradient;
      // position: absolute;
      height: 100%;
      width: 100%;
      filter: blur(5px);
    }
  }

  label.c-bar-label {
    font-size: 10px;
    white-space: nowrap;
  }

  &.label-on-right {
    flex-direction: row-reverse;

    label.c-bar-label {
      margin-left: 5px;
    }
  }
}
