$width: 325px;
$height: 200px;

.deck-cover {
  width: $width;
  height: $height;
  margin: 10px;

  .cover-front,
  .cover-back {
    width: $width;
    height: $height;
    padding: 15px;
    border-radius: 12px;
    box-sizing: border-box;
  }

  .cover-front {
    background-color: #3e4154;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .cover-back {
    display: flex;
    flex-direction: column;
    background-color: #efefef;

    label {
      font-size: 20px;
    }

    p {
      overflow: scroll;
      font-size: 12px;
      flex: 1;
    }

    .button-strip {
      display: flex;

      div {
        flex: 1;
      }

      button {
        margin-left: 15px;
        border-color: transparent;
      }
    }
  }
}
