@import '../../assets/colors';
@import '../../assets/styles';

// Todo: clean up styling
.deck-editor {
  button.editor-button {
    padding: 20px 40px;
    border-radius: 10px;
  }
  .deck-editor-flashcard-set {
    margin-bottom: 50px;
  }

  .flashcard-set-placeholder {
    @include flex-center;
    margin: 100px 0px;
    color: $white;
  }

  .editor-sticky-bottom {
    position: sticky;
    bottom: 0px;
  }

  .right-footer-buttons {
    float: right;
    button:last-child {
      margin-left: 20px;
    }
  }
}
