@import '../../assets/colors';

.button {
  padding: 3px 13px;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    transition-duration: 200ms;
  }

  &.dark {
    border-color: $lightBlue;
    background-color: $blue;
    color: $white;
    &:hover {
      background-color: $blueHover;
    }
  }

  &.light {
    background-color: $white;
    border-color: $blue;
    color: $blue;

    &:hover {
      background-color: $whiteHover;
    }
  }
}
