.button {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 15px;

  &.primary {
    background-color: #25283d;
    color: #ffff;

    &:hover {
      background-color: #202232;
      transition-duration: 200ms;
    }
  }
}
