@import '../../assets/styles';
@import '../../assets/colors';

.registration-component {
  @include viewport-vertical-center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $light-blue;
  width: fit-content;
  color: white;
  padding: 45px;
  text-align: center;
  border-radius: 45px;

  @media screen and (max-width: $small-screen) {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: none;
    border: none;
  }

  .registration-header {
    font-size: 36px;
  }

  .registration-sub-header {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    .registration-form-header {
      font-size: 12px;
    }
    .registration-button {
      width: fit-content;
      border-color: $white;
      color: $white;
    }
  }

  .registration-button-group {
    margin-top: 40px;
    .registration-button {
      margin: 8px;
    }
  }
  .registration-button {
    display: inline-block;
    border-color: $white;
    color: $white;
    background-color: transparent;
    padding: 10px;
  }
}
