@import '@/assets/styles';
@import '@/assets/colors';

.pg-profile-page {
  padding-bottom: 64px;

  .profile-page-header {
    @media screen and (max-width: $small-screen) {
      padding: 0px 12px; // to offset page margin shrinking
    }
  }

  .decks-divider {
    padding: 32px 0px;

    .decks-container {
      @include deck-cover-wrapping-grid;
      padding-top: 8px;

      // we may want to limit the height since we don't have pagination
      // max-height: 50vh;
      // overflow: hidden;
    }
  }
}
