@import '../../assets/colors';
@import '../../assets/styles';

.study-page {
  .study-page-content {
    max-width: 500px;
    margin: auto;
    @include flex-center;
    flex-direction: column;

    .pulsing-microphone-container {
      width: 100%;
      height: 26px;
      box-sizing: border-box;
      margin-left: 50px;
      .pulsing-microphone {
        @include flex-center;
        @include infinite-pulse;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        padding: 5px;
        background-color: $white;
      }
    }

    .study-page-progress-bar {
      padding: 40px 0px 20px 0px;
      width: 100%;
    }
  }
}
