@import '../../assets/styles';
@import '../../assets/colors';

.c-bubble-divider {
  position: relative;
  @include flex-center;

  .c-bubble-button {
    @include flex-center;
    border-radius: 30px;
    background-color: $black;
    color: $light-blue;
    padding: 10px 20px;

    .c-bubble-divider-arrow {
        @include flex-center;
        height: 100%;
        padding-left: 10px;
        fill: $light-blue;
    }

    &.divider:hover {
      cursor: default;
      background-color: $black;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-blue;
  }

  &.light {
    .c-bubble-button {
      color: $grey;
      border-color: $grey;
      background-color: $white;
      
      &.divider:hover {
        background-color: $white;
      }
  
      &.drop-down {
        @include white-hover;
      }
      
      .c-bubble-divider-arrow {
        fill: $grey;
      }
    }

    hr {
      border-color: $grey;
    }
  }
}