@import '@/assets/colors';
@import '@/assets/styles';

svg.speaker-icon.white path {
  &:first-child {
    fill: $white;
    stroke: none;
  }
  stroke: $white;
}

svg.speaker-icon.red path {
  &:first-child {
    fill: $red;
    stroke: none;
  }
  stroke: $red;
}

svg.speaker-icon.green path {
  &:first-child {
    fill: $green;
    stroke: none;
  }
  stroke: $green;
}
