@import '@/assets/colors';
@import '@/assets/styles';

.study-lesson-page {
  padding-top: 16px;

  .study-lesson-page-header {
    @media screen and (max-width: $small-screen) {
      text-align: center;
    }
  }

  .study-lesson-page-content {
    @include flex-center;
    flex-direction: column;
    margin: auto;
    padding-top: 16px;

    .pulsing-microphone-container {
      height: 26px;
      margin-left: 10px;

      .pulsing-microphone {
        @include flex-center;
        @include infinite-pulse;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        padding: 5px;
        background-color: $white;
      }
    }

    .correct-card-face {
      background-color: $green;
    }

    .incorrect-card-face {
      background-color: $red;
    }

    .study-page-progress-bar {
      padding: 40px 8px 20px 8px;
    }
  }
}
