@import '../../assets/styles';

.page-header {
  display: flex;
  flex-direction: column;

  .go-back-button {
    width: fit-content;
    color: $light-blue;
  }

  label {
    color: $white;
    font-size: 30px;
  }
}