@import '../../assets/styles';

$width: 600px;
$height: 300px;

.study-page-card {
  display: inline-block;
  width: $width;
  height: $height;
  margin: 10px;
  @include flex-center;
  padding: 30px;
  font-size: 30px;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: $flashcard-white;

  &.dark {
    background-color: $deck-cover-blue;
    color: $white;
  }

  &.light {
    background-color: $flashcard-white;
  }

  // .c-study-flashcard-content {
  //   @include flex-center;
  //   padding: 30px;
  //   font-size: 30px;
  //   width: $width;
  //   height: $height;
  //   border-radius: 12px;
  //   box-sizing: border-box;

  //   &.dark {
  //     background-color: $deck-cover-blue;
  //     color: $white;
  //   }

  //   &.light {
  //     background-color: $flashcard-white;
  //   }
  // }
}
