@import '../../assets/colors';
@import '../../assets/styles';

$element-gap: 16px;
$search-bar-offset: ($content-padding - $element-gap);

.c-header {
  z-index: 1;
  height: $header-height;
  width: 100%;
  box-sizing: border-box;
  background-color: $deck-cover-blue;
  border-bottom: 1px solid $light-blue;

  &.fixed {
    position: fixed;
  }

  .c-header-content {
    display: flex;
    height: 100%;
    align-items: center;
    gap: $element-gap;

    .c-header-title {
      @include flex-center;
      flex: 0 0 $sidebar-width;
      height: 100%;
      padding-right: $search-bar-offset;

      color: $white;
      font-size: 30px;

      > label {
        @include hover-pointer;
        user-select: none;

        > span {
          font-weight: bold;
        }

        &:hover {
          color: $grey;
        }
      }
    }

    .c-search-bar-container {
      display: flex;
      align-items: center;
      flex: 8 1 auto;

      .c-search-bar-sizer {
        width: min(calc(100%), 500px);

        @media screen and (max-width: $medium-screen) {
          display: none;
        }
      }
    }

    .c-account-buttons {
      @include flex-center;
      flex: 0 0 min(33vw, 250px);
      padding-right: $element-gap;

      button {
        padding: 12px;
        border: none;

        &.sign-up-button {
          background-color: transparent;
        }

        &.sign-in-button {
          background-color: $electric-blue;
        }
      }
    }
  }
}
