@import '../../colors';
@import '../../styles';

.kebab-icon {
  &.white path {
    fill: $white;
  }

  &.green path {
    fill: $green;
  }

  &.red path {
    fill: $red;
  }

  &.light-blue path {
    fill: $light-blue;
  }
}
