@import '@/assets/styles';
@import '@/assets/colors';

.pg-profile-page {
  padding-bottom: 64px;

  .profile-page-header {
    @media screen and (max-width: $small-screen) {
      padding: 0px 12px; // to offset page margin shrinking
    }
  }

  .user-details {
    @include flex-center;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    isolation: isolate;

    .profile-picture-container {
      position: relative;
      width: auto;
      height: auto;

      .profile-picture {
        border-radius: 50%;
      }

      &::after {
        @include infinite-pulse(3s);
        content: '';
        position: absolute;
        inset: 2px;
        border-radius: 50%;
        background: $blue-gradient;
        filter: blur(1em);
        z-index: -1;
      }
    }

    span {
      font-size: 18px;

      &.username {
        color: $light-blue;
      }

      &.full-name {
        color: $white;
        font-size: 26px;
        padding: 8px 0px;
      }

      &.date-joined {
        color: $white;
      }
    }
  }

  .decks-divider {
    padding: 32px 0px;

    .decks-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
      justify-items: center;
      grid-auto-rows: max-content;
      column-gap: 16px;
      row-gap: 16px;

      padding-top: 8px;

      // we may want to limit the height since we don't have pagination
      // max-height: 50vh;
      // overflow: hidden;
    }
  }
}
