@import '@/assets/colors';
@import '@/assets/styles';

$red: #d42323;

.record-audio-popup {
  .record-audio-card-face {
    // TODO: Warning Icon when text changes after recording
    // TODO: Card overflow handling
    // TODO: Maybe make same as other card formats
    @include flex-center;
    padding: 25px;
    min-height: 150px;
    border: 1px solid #25283d;
    border-radius: 20px;
    color: #25283d;
    font-size: 20px;
    margin: 30px 0px;
    overflow-wrap: anywhere;

    @media screen and (min-width: $small-screen) {
      width: 400px;
    }

    &.ra-placeholder {
      color: $grey;
    }
  }

  .record-audio-microphone-container {
    @include flex-center;
    flex-direction: column;
    color: $grey;

    .record-audio-microphone-icon-button {
      @include hover-pointer;
      margin: 10px;
      border-radius: 50%;
      border: 3px solid $blue;
      background-color: $white;
      width: 45px;
      height: 45px;

      &.is-recording {
        // TODO: fix infinite-pulse breaks when using $red
        @include infinite-pulse(1s, red);
        background-color: red;
        border-color: red;
      }

      .record-audio-microphone-icon {
        width: 25px;
        height: 25px;
      }
    }
  }

  .record-audio-audio-player {
    @include flex-center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .record-audio-save-button-container {
    display: flex;
    justify-content: flex-end;
    .record-audio-save-button {
      padding: 8px 20px;
    }
  }
}
