@import '../../assets/colors';
@import '../../assets/styles';

.drop-down {
  > label {
    margin-right: 8px;

    &.light {
      color: $blue;
    }

    &.dark {
      color: $white;
    }
  }
}

// avoid nesting in .drop-down to make menu more easily targetable
.drop-down-menu {
  position: relative;
  display: inline-block;

  // consumer should set width manually if a fixed size is desired
  width: fit-content;

  > button {
    width: 100%;
    padding: 5px 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      @include ellipsis-overflow;
      @include hover-pointer;
    }

    > div {
      @include flex-center;
      margin: 0px 10px;
    }
  }

  .options {
    @include box-shadow;
    @include hover-pointer;
    width: 100%;
    margin-top: 2px;
    position: absolute;
    z-index: 1;
    background-color: $white;
    border-radius: $standard-radius + 1px; //hides corners of div

    .option {
      @include white-hover;
      @include ellipsis-overflow;
      width: 100%;
      box-sizing: border-box;
      border-left: 1px solid $flashcard-white;
      border-right: 1px solid $flashcard-white;
      background-color: $white;
      color: $blue;
      padding: 5px;

      &:first-child {
        border-radius: $standard-radius $standard-radius 0px 0px;
        border-top: 1px solid $flashcard-white;
      }

      &:last-child {
        border-radius: 0px 0px $standard-radius $standard-radius;
        border-bottom: 1px solid $flashcard-white;
      }
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 100ms, opacity 100ms ease-out;
    }
  }
}
