@import '../../../../assets/colors';
@import '../../../../assets/styles';

// TODO: move into base-search-bar.scss
$height: 40px;

.category-dropdown {
  width: fit-content;
  position: relative;
  height: 100%;

  .category-dropdown-button {
    height: $height;
    font-size: 15px;
    width: fit-content;
    border: none;
    border-right: 1px solid $light-blue;
    border-radius: $standard-radius 0px 0px $standard-radius;
  }

  .category-dropdown-options {
    width: 100%;
    min-width: fit-content;
    button {
      font-size: 15px;
    }
  }
}
