$black: #1d1d21;
$lightBlue: #8b92c0;
$electricBlue: #4a57b5;
$grey: #989baa;
$deckCoverWhite: #efefef;
$deckCoverBlue: #3e4154;
$flashcardWhite: #cfd2e3;

$white: #ffff;
$whiteHover: #f4f1f8;

$blue: #25283d;
$blueHover: #1e1f31;
