$black: #1d1d21;
$light-blue: #8b92c0;
$electric-blue: #4a57b5;
$grey: #989baa;
$dark-grey: #63656e;
$dark-grey-blue: #3d3f48;
$deck-cover-white: #efefef;
$deck-cover-blue: #3e4154;
$flashcard-white: #cfd2e3;

$white: #ffff;

$blue: #25283d;
$blue-hover: #1e1f31;
$light-placeholder: #636b8b;
$dark-placeholder: #595c80;

$light-red: #e16060;
