@import './colors';

// media query sizes
$small-screen: 512px;
$sm-md-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
$giant-screen: 1280px;

$standard-radius: 4px;
$sidebar-width: 260px;
$header-height: 53px;
$content-padding: 50px;

@mixin standard-transition {
  transition: 200ms;
}

@mixin hover($background-color) {
  @include standard-transition;

  &:hover {
    background-color: $background-color;
  }
}

@mixin hover-text() {
  &:hover {
    cursor: text;
  }
}

@mixin hover-pointer() {
  &:hover {
    cursor: pointer;
  }
}

@mixin blue-hover {
  @include hover($blue-hover);
}

@mixin white-hover {
  @include hover($deck-cover-white);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin viewport-vertical-center {
  margin-top: 50vh; // could be padding-top: 100vh, but we'll see
  transform: translate(0, -50%);
}

@mixin box-shadow {
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

@mixin ellipsis-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin floating-card {
  @include box-shadow;
  position: absolute;
  z-index: 1;
  background-color: $white;
  border-radius: $standard-radius + 1px; //hides corners of div
}

@mixin animation-mixin($color) {
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba($color, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}

@include animation-mixin($white);
@mixin infinite-pulse {
  box-shadow: 0 0 0 $white;
  animation: pulse 1s infinite;
}
