@import './colors';

$standard-radius: 4px;
$sidebar-width: 260px;
$header-height: 53px;
$content-padding: 50px;

@mixin standard-transition {
  transition: 200ms;
}

@mixin hover($background-color) {
  @include standard-transition;

  &:hover {
    background-color: $background-color;
  }
}

@mixin hover-text() {
  &:hover {
    cursor: text;
  }
}

@mixin hover-pointer() {
  &:hover {
    cursor: pointer;
  }
}

@mixin blue-hover {
  @include hover($blue-hover);
}

@mixin white-hover {
  @include hover($deck-cover-white);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

@mixin ellipsis-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin floating-card {
  @include box-shadow;
  position: absolute;
  z-index: 1;
  background-color: $white;
  border-radius: $standard-radius + 1px; //hides corners of div
}
