@import '@/assets/styles';
@import '@/assets/colors';

.public-profile-page {
  padding-bottom: 64px;

  .decks-container {
    @include deck-tile-wrapping-grid;
    margin: 0px;
    padding-top: 8px;

    @media screen and (max-width: $medium-screen) {
      margin: 0px;
    }
  }

  .no-decks-message {
    @include flex-center;
    font-size: 20px;
    color: $grey;
    text-align: center;
  }
}
