@import '@/assets/colors';
@import '@/assets/styles';

.c-search-icon-container {
  @include flex-center;
  border-top-left-radius: $standard-radius;
  border-bottom-left-radius: $standard-radius;
  padding: 0px 5px;
  height: 100%;
  transition: all 100ms ease-in-out;

  &.has-text {
    border-right: 1px solid $light-blue;
    background-color: $blue;
  }
}
