@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

:root {
  background-color: #1d1d21;
}

.App {
  font-family: 'Comfortaa';
  display: flex;
  justify-content: center;
}
