@import './assets/colors';
@import './assets/styles';

:root {
  background-color: $black;
}

.App {
  .text-areas {
    display: flex;
    gap: 16px;
    // so we can see the labels and stuff
    background-color: white;
    padding: 16px;
    width: 800px;
  }
  .page-wrap {
    margin-left: $sidebar-width;
    padding-top: $header-height;

    > .content {
      align-items: center;
      gap: 32px;
      min-height: 100vh;
      height: 100%;
      padding: 20px $content-padding;

      .text-areas {
        display: flex;
        gap: 16px;
        // so we can see the labels and stuff
        background-color: white;
        padding: 16px;
        width: 800px;
      }

      .text-box {
        width: 400px;
        padding: 16px;
        background-color: white;
      }

      .text-box-dark {
        width: 400px;
        padding: 16px;
        background-color: $black;
      }

      .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
      }

      .improvised-popup {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
        padding: 0px 50px;
        background-color: white;
        border-radius: $standard-radius;
      }
      .test-drop-down {
        width: 200px;
      }
    }
  }
}
