@import './assets/colors';
@import './assets/styles';

$height-without-header: calc(100vh - #{$header-height});
$header-and-padding: $header-height + $content-padding;
// height without header and padding adjustments
$content-height: calc(100vh - #{$header-and-padding});

:root {
  background-color: $black;
}

.App {
  .page-wrap {
    height: $height-without-header;
    margin-left: $sidebar-width;
    padding-top: $header-height;

    > .content {
      align-items: center;
      gap: 32px;
      height: $content-height;
      padding: 20px $content-padding;

      .improvised-popup {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
        padding: 0px 50px;
        background-color: white;
        border-radius: $standard-radius;
      }
      .test-drop-down {
        width: 200px;
      }
    }
  }
}
