@import './assets/colors';
@import './assets/styles';
:root {
  background-color: $black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
  }

  .flashcards-container {
    width: 1200px;
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }
  }

  .improvised-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 0px 50px;
    background-color: white;
    border-radius: $standard-radius;
  }
  .test-drop-down {
    width: 200px;
  }
}
