@import '../../../assets/colors';
@import '../../../assets/styles';

.deck-meta {
  .study-button {
    padding: 20px 40px;
    border-radius: 10px;
  }

  .deck-meta-title input {
    font-size: 30px;
    border-radius: 10px;
    border-width: 1px;
    padding: 11px 8px;
  }

  .title,
  .c-description-and-import-buttons {
    margin-top: 16px;
  }

  .c-description-and-import-buttons {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
    gap: 16px;

    textarea {
      padding: 12px 12px;
      height: 58px;
      border-radius: 10px;
    }
  }

  .advanced-settings-divider {
    margin: 25px 0px;
    color: $white;

    .advanced-settings {
      > * {
        margin-bottom: 20px;
      }
    }
  }
}
